
.container{
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin: 0px;
}

.dashboard{
  display: grid;
  position: relative;
  height: 100%;
  background-color: #efe7df;
  grid-template-columns: 25% 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
}

.fb-cell{
  padding: 20px;
  background-color: #fff;
}

.fb-cell--1{
  grid-row: 1 / span 2;
}

.fb-cell--2{
  grid-column: 2;
}

.fb-cell--3{
  grid-column: 3;
}

.fb-cell--4{
  grid-column: 2 / span 2;
}

.fb-item{
  background-color: #efefef;
  height: 100%;
  display: flex;
  justify-content: center;
}
.sidebar{
   margin: 10%;
   flex-direction: column;
}
.avatar{
  margin-bottom: 2rem;
}
.avatar img{
  border-radius: 20%;
}
.info{
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

.ticket-form{
  display: flex;
  flex-direction: column;
}

@media (max-width: 750px){
  .dashboard{
      display: block;
  }

  .fb-cell--1{
      height: 60%;
  }

  .fb-cell--2{
      height: 50%;
  }

  .fb-cell--3{
      height: 50%;
  }

  .fb-cell--4{
      height: 50%;
  }

}
