<div class="container-fluid p-4">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <input class="form-control mb-5" type="file" class="upload" (change)="readFile($event)">
        </span>
      </div>
    </div>


  <form class="table-responsive" [formGroup]="userForm" (submit)="submit()">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>PASSWORD</th>
        <th>JOB TITLE</th>
        <th>TOTAL LEAVES</th>
        <th>PENDING LEAVES</th>
        <th>MANAGER NAME</th>
        <th>*</th>
      </tr>
    </thead>
    <tbody class="all-user-rows"  formArrayName="userFormRows" *ngFor="let control of userFormRows.controls; let i = index">
      <tr [formGroupName]="i">
        <td><input type="text" id="{{'name-'+ i}}" formControlName="name"></td>
        <td><input type="text" id="{{'name-'+ i}}" formControlName="email"></td>
        <td><input type="text" id="{{'name-'+ i}}" formControlName="password" readonly></td>
        <td><input type="text" id="{{'name-'+ i}}" formControlName="jobTitle"></td>
        <td><input type="text" id="{{'name-'+ i}}" formControlName="totalLeaves" readonly></td>
        <td><input type="text" id="{{'name-'+ i}}" formControlName="leavesLeft"></td>
        <td><input type="text" id="{{'name-'+ i}}" formControlName="managerName" readonly></td>
        <td><button class='btn form-control' (click)="deleteUser($event)" id="{{i}}">Delete</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" id="left"><button class='btn' (click)="addUser()">Add user</button></td>
        <td><a id="downloadLink" href={{href}} *ngIf="downloadReady">Get File</a></td>
        <td><button class='btn' (click)="downloadCsv()" [disabled]="userForm.invalid">Download</button></td>
        <td><input  class='btn' type="submit" value="submit" [disabled]="userForm.invalid"></td>
      </tr>
    </tfoot>
  </table>


</form>

</div>
