<section>
  <form class="form-container" (submit)="onFormSubmit()" [formGroup]="signUpForm">
    <div class="form-header">
      <span>Employee SignUp</span>
    </div>
    <div class="msg">
        {{msg}}
    </div>

    <div class="form-group">
      <label>Name: </label>
      <input type="name" class="form-input" name="name" formControlName="name">
    </div>
    <span *ngIf="signUpForm.controls['name'].invalid && signUpForm.controls['name'].touched">
      <small *ngIf="signUpForm.controls['name'].errors['required']">Name is required</small>
      <small *ngIf="signUpForm.controls['name'].errors['pattern']">No special chars are allowed</small>
    </span>

    <div class="form-group">
      <label>Job Title: </label>
      <select class="form-input" formControlName="jobTitle">
        <option value="{{j}}" *ngFor="let j of jobTitles">{{j}}</option>
      </select>
    </div>
    <span *ngIf="signUpForm.controls['jobTitle'].invalid && signUpForm.controls['jobTitle'].touched">
      <small *ngIf="signUpForm.controls['jobTitle'].errors['required']">JobTitle is required</small>
     </span>

    <div class="form-group">
      <label>Manager: </label>
      <select class="form-input" formControlName="managerEmail">
        <option *ngFor="let m of managers" value="{{m.email}}">{{m.name}}</option>
      </select>
    </div>
    <span *ngIf="signUpForm.controls['jobTitle'].invalid && signUpForm.controls['jobTitle'].touched">
      <small *ngIf="signUpForm.controls['jobTitle'].errors['required']">Manager is required</small>
     </span>

    <div class="form-group">
      <label>Username/Email: </label>
      <input type="text" class="form-input" name="email" formControlName="email">
    </div>
    <span *ngIf="signUpForm.controls['email'].invalid && signUpForm.controls['email'].touched">
      <small *ngIf="signUpForm.controls['email'].errors['required']">Email is required</small>
      <small *ngIf="signUpForm.controls['email'].errors['pattern']">please enter correct email format</small>
    </span>

    <div class="form-group">
      <label>Password: </label>
      <input type="password" class="form-input" name="password" formControlName="password">
    </div>
    <span *ngIf="signUpForm.controls['password'].invalid && signUpForm.controls['password'].touched">
      <small *ngIf="signUpForm.controls['password'].errors['required']">Password is required</small>
      <small *ngIf="signUpForm.controls['password'].errors['minlength']">Password should be minimum 5 characters</small>
      <small *ngIf="signUpForm.controls['password'].errors['pattern']">Characters allowed: [a-zA-Z0-9 _#]</small>
    </span>
    <div class="form-group">
      <label>Re-Password: </label>
      <input type="password" class="form-input" name="repassword" formControlName="repassword">
    </div>
    <span *ngIf="signUpForm.controls['repassword'].invalid && signUpForm.controls['repassword'].touched">
      <small *ngIf="signUpForm.controls['repassword'].errors['required']">Re-password is required</small>
     </span>

    <div class="form-group">
      <input type="submit" class="login-button" value="Sign Up" [disabled]="!signUpForm.valid"  >
    </div>

    <div class="form-footer">
      Already Signed Up? <a routerLink="/login">Login here</a>
    </div>

  </form>
</section>
