.container-fluid{
  margin: 0px;
  height: 100%;
}

.app-header {
  background-color: #fff;
  padding: 5px 40px;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  color: #e74100;
  font-weight: bold;

}

.app-header img {
  width: 6.40625vw;
  height: auto;
  max-width: 100%;
}

header span{
  float: right;
  vertical-align: bottom;
  margin-top: 5px;
}



