.form{
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 1px 2px #333;
  margin-top: calc((100vh - 460px) / 2);
  padding: 20px;
}

.form-group{
  margin-bottom: 20px;
}

.btn{
  margin-top: 20px;
  border: 1px solid #ccc !important;
}
