<div class="row">
  <form class="mx-auto form col-lg-4 col-md-8 col-sm-10 col-xs-12 p-4" [formGroup]="resetForm" (submit)="submit(passwordResetCallback)">
    <ng-container *ngIf="!response">
      <p>Enter your email in the field below.</p>
      <div class="form-group">
        <label>Email </label>
        <input type="email" class="form-control" name="email" formControlName="email">
      </div>
      <div class="form-group">
        <input type="submit" class="btn form-control" value="Forgot Password" [disabled]="!resetForm.valid">    </div>

      </ng-container>
      <ng-container *ngIf="response">
        <p>Check your email. If your email is valid, a mail would've been sent to you with instructions to change your password.</p>
      </ng-container>
  </form>
</div>
